<div class="mx-auto md:w-3/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
<div class=" flex flex-col justify-center center-item bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <%= render "lessons/lesson_show", lesson: @lesson %>
    <div class="overflow-y-auto h-72 relative w-full  mx-auto bg-white dark:bg-slate-800 dark:highlight-white/5 shadow-lg ring-1 ring-black/5 rounded-xl flex flex-col divide-y dark:divide-slate-200/5">
    
    <%= turbo_stream_from "messageing" %>
    <%= content_tag(:div, id: "messageing") do %>
    
      <% @bmesseage.each do |bmesseage| %>
        <%= render  "bmesseages/messages", bmesseage: bmesseage, lesson: @lesson %>
      <% end %>
    <% end %>

    </div>
    <%= render 'bmesseages/form', bmesseage: @bmesseages %>
<div>
  </div>
</div>
